.authPageContent{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color:#F4F4F4;
    color: black;
    padding:56px 32px 190px 32px;
}
.containerImgLogin{
    display: none;
}
.logoContainer{
    width: 88px;
    margin-bottom: 16px;
}

.titleIntranet, .textintranet{
    text-align: center;
    font-size: 16px;
}

.titleIntranet{
    margin-bottom: 16px;
}
.textintranet{
    margin-bottom: 13px;
}
.formIntranet{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.textintranetInput{
    text-align: start;
    margin-bottom: 8px;
    margin-top: 16px;
   
}
.btnAuthPage{
    margin-top: 16px;
    font-size: 16px;
    background: #929292;
    width: 215px;
    height: 40px;
    color:white;
    border-radius: 24px;
    border: none;
}
.btnAuthPage:hover{
    background: #FD4C00;
}
.inputIntranet{
    width: 215px;
    height: 40px;
    border-radius: 24px;
    padding:8px 15px 13px 11px;
    border: 1px solid #929292;
    box-sizing: border-box;
}
@media screen and (min-width:1024px){
    .containertwodivs{
        display: flex;
        flex-flow: row nowrap;
        scroll-behavior: none;
    }
    .authPageContent{
        height: 100vh;
      
    }
    .containerImgLogin{
        display:block;
        width: 60%;
    }
    .imgLogIn{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .authPageContent{
        padding:0px 32px 0px 32px;
        width: 40%;
    }
    .logoContainer{
        width: 155px;
        height: 170px;
        margin-bottom: 56px;
    }
    .titleIntranet, .textintranet{
        text-align: center;
        font-size: 18px;
        width: 311px;
    }
    .titleIntranet{
        font-size: 26px;
        margin-bottom: 36px;
    }
    .textintranet{
        margin-bottom: 24px;
    }
    .textintranetInput{
        margin-bottom: 10.62px;
        margin-top: 32px;
    }
    .btnAuthPage{
        margin-top: 48px;
        font-size: 22px;
        width: 285px;
        height: 48px;
    }
    .inputIntranet{
        width: 215px;
        height: 40px;
        width: 285px;
        height: 51px;
        padding:16px 81px 16px 15px;
    }
}
