.sectionArchiveButtons{
  display:flex;
  flex-flow: row nowrap;
  margin:0px 16px 0px 16px;
}
.containerSectionArchiveBtnAndDonateForms{
  display:flex;
  flex-flow:column nowrap;
  margin:24px 0px 30px 0px;
}
.archiveBtnOff{
  width: 25%;
  height: 40px;
  background: #F4F4F4;;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.archiveBtnOn{
  width: 25%;
  height: 40px;
  background: none;
  border: 1px solid #000000;
  border-bottom: none;
  box-sizing: border-box;
  box-shadow: 2px -3px 4px rgba(0, 0, 0, 0.25);

}