.sectionArchiveButtons{
  display:flex;
  flex-flow: row nowrap;
  margin:0px 16px 0px 16px;
}
.containerSectionArchiveBtnAndDonateForms{
  background-color: #b42c41;
  margin: 5% auto auto 5%;
  display:flex;
  width: 45%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
<<<<<<< HEAD

.menu-option {
  box-sizing: border-box;
  margin:0 auto 0 auto;
  display:inline-block;
  padding: 5%;
  width:50%;
}

.menu-option-unselected {
  box-sizing: border-box;
  margin:0 auto 0 auto;
  display:inline-block;
  padding: 5%;
  width:50%;
  background-color: rgba(0, 0, 0, 0.3);
}

.archiveBtn{
=======
.archiveBtnOff{
  width: 25%;
  height: 40px;
  background: #F4F4F4;;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.archiveBtnOn{
>>>>>>> ea671dcf1a9861842017703a314c746642be2d0e
  width: 25%;
  height: 40px;
  background: none;
  border: 1px solid #000000;
  border-bottom: none;
  box-sizing: border-box;
  box-shadow: 2px -3px 4px rgba(0, 0, 0, 0.25);

}