.btnBecomePartDonar{
  width: 343px;
  height: 40px;
  border: 0.5px solid #929292;
  color:#929292;
  background-color: white;
  box-sizing: border-box;
  border-radius: 24px;
  margin:24px 0px 30px 0px;
  align-self: center;
}

.sectionBecomePart{
  display:flex;
  flex-flow:column nowrap;
  padding-top: 32px;
  margin:0px 16px 0px 16px;
}
.textCenter{
  font-size: 16px;
  margin:24 0px 30px 0px;
  text-align: left;
  
}
.textbecomepart{
  width: 343px;
  height: 95px;
}

.titleBecome{
  margin-bottom: 11px;
}