.container-btns{
    position: fixed;
    top: 76.5%;
    right: 5%;
    width: 43%;
}

.btn-Modal {
    background-color: #fd4c00;
    border: #fd4c00 solid 1px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    width: 100%;
    height: 48px;
    margin: 1.5rem auto;
    border-radius: 5rem;
    font-size: 1rem;
}

.btn-cancel{
    background-color: #ebcc29;
    border: #ebcc29 solid 1px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    width: 100%;
    height: 3rem;
    margin: .5rem auto;
    border-radius: .5rem;
}

@media screen and (min-width:1024px){
    .btn-Modal {
        position: absolute;
        width: 576px;
        height: 64px;
        left: 903px;
        top: 509px;
        font-size: 22px;
    }
    



}