.inputsFormHuertas, .textareaSection
,.selectFormHuertas
{
  width: 343px;
  height: 40px;
  border: 1px solid #929292;
  box-sizing: border-box;
  border-radius: 24px;
  padding:9px 0px 12px 16px;
  font-size:14px;
}
.textareaSection{
  width:343px;
  height:80px;
  padding:16px 16px 26px 16px;
}

.sectionTitleText{
  display:flex;
  flex-flow:column nowrap;
  margin:0px 16px 30px 16px;
}
.marginTopForm{
  margin-top:24px;
}

.formHuertasSection{
  display:flex;
  flex-flow: column nowrap;
  margin:0px 16px 0px 16px;
}

.titleForms,.titleFormsCheckbox{
  font-size:16px;
  text-align: left;
  margin:16px 0px 16px 0px;
}

.btnSubmitForm{
  width: 343px;
  height: 40px;
  padding:11px 91px 10px 92px;
  border-radius: 24px;
  background: #FD4C00;
  color:white;
  border: 0.5px solid #929292;
  margin: 22px 0px 32px 0px;
  align-self: center;
}
.btnSubmitForm:hover{
  box-shadow:  0 0 10px 5px #fd4c0069;
}

.erorsText{
  color:red;
  font-size:16px;
  padding:5px 0px 0px 8px;
}
.textandCheckbox{
  display:flex;
  flex-flow:row wrap;
  text-align: start;
}
.formCheckbox{
  margin:0px 24px 0px 0px;
}
.titleFormsCheckbox{
  width:287px;
  height:38px;
}

.containerBannerForm{
  display: flex;
  width:100%;
  height: 88px;
}
.bannerForm{
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width:1024px){
  .sectionTitleText{
    display:flex;
    flex-flow:column nowrap;
    margin:0px 161px 109px 161px;
  }
  .containerBannerForm{
    height: 304px;
    width: 1575px;
  }
  h2, .marginTopForm{
    margin-top:56px;
    font-size: 36px;
  }
  h2{
    margin-top: 0px;
  }
  .text{
    width: 512px;
    height: 197px;
    font-size: 22px;
  }
  .formHuertasSection{
    position: absolute;
    right: 236px;
    top: 1250px;
    width: 744px;
  }
  .titleForms,.titleFormsCheckbox{
    font-size:74px;
    text-align: start;
    margin:16px 0px 16px 0px;
  }
  .inputsFormHuertas, .textareaSection
  , .selectFormHuertas
  {
    width: 544px;
    height: 56px;
    border-radius: 32px;
    padding:14px 0px 16px 25px;
    font-size: 22px;
  }
  .btnSubmitForm{
    position: absolute;
    width: 544px;
    right: 200px;
    height: 64px;
    top: 1000px;
}
  
}