.sectionTeam{
    display:flex;
    flex-flow: column nowrap;
    padding:30px 16px 0px 16px;
    text-align: center;
    background: #F4F4F4 ;
}
.textTeam{
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}
.containerTeam{
    display: flex;
    flex-flow: row wrap;
    margin-top: 16px;
    align-content: center; 
    justify-content: center;
}
.eachTeamMate{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin:0px 16px 0px 0px;
    width: 122px;
    height: 193px;
    text-align: center;
}

.containerPhotoTeam{
    height:70px;
    width:70px;
    margin-bottom: 10px;
}
.photo{
  width: 100%;
  border-radius:50%;
  object-fit: cover;
}
.titleTeam{
    margin-bottom: 16px;
    text-align: left;
}