.sectionTeam{
    diplay:flex;
    margin:30px 16px 0px 16px;
}
.title{
    font-size: 16px;
}
.textTeam{
    font-size: 16px;
    margin-top: 5px;
   
}
.containerTeam{
    display: flex;
    flex-flow: row wrap;
    margin-top: 16px;
    justify-content: center;
    align-content: center;
}
.eachTeamMate{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin:0px 50px 0px 0px;
    width: 122.52px;
    height: 189.16px;
    text-align: center;
}

.containerPhotoTeam{
    height:70px;
    width:70px;
    margin-bottom: 10px;
}
.photo{
  width: 100%;
  border-radius:50%;
}