.sectionTransparency{
    display: flex;
    flex-flow: column nowrap;
    margin:20px 16px 32px 16px;
}
.containerTransparency{
    align-self: center;
    margin-top: 20px;
    width: 280px;
    height: 280px;
}
.graphic{
    width: 100%;
}