.sectionWhatWeDo{
    display: flex;
    flex-flow: column nowrap;
    margin:30px 16px 0px 16px;
    padding-bottom: 80px;
}
.titleWhatWedo{
    font-size: 16px;
}
.containerScheme{
    margin-top: 16px;
    width: 343px;
    height: 279px;
}
.scheme{
    width: 100%;
}