.sectionWhatWeArchived{
    display: flex;
    flex-flow: column nowrap;
    margin:30px 16px 0px 16px;
}
.containerWhatWeArchived{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    margin-left: 5px;
    margin-bottom:32px ;
}

.photowahtwearchived{
    width: 100%;
}
.photowahtwearchived{
    width: 80px;
    height: 80px;
}
.containerPhotoText{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin:32px 32px 0px 0px;
    width: 80px;
    height: 153px;
}
.textx{
    text-align: center;
    margin-top:16px ;
    width: 108px;

}
.title{
    font-size: 16px;
}