.sectionWhatWeArchived{
    display: flex;
    flex-flow: column nowrap;
    margin:30px 16px 0px 16px;
}
.containerWhatWeArchived{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.photowahtwearchived{
    width: 100%;
}
.photowahtwearchived{
    width: 80px;
    height: 80px;
}
.containerPhotoText{
    text-align: center;
    margin:24px 20px 24px 10px;
    width: 80px;
    height: 153px;
}
.textx{
    text-align: center;
    margin-top:16px ;
}