.sectionWhatWeDo{
    display: flex;
    flex-flow: column nowrap;
    margin:30px 16px 20px 16px;
}

.containerScheme{
    display: flex;
    margin-top: 16px;
    width: auto;
    height: 407px;
}
.scheme{
    width: 100%;
}
.titlesecWhat{
    margin-bottom: 11px;
}

@media screen and (min-width:1024px){
    .sectionWhatWeDo{
        margin:30px 80px 60px 80px;
    }
    .containerScheme{
        position: absolute;
        width: 570.33px;
        height: 619px;
        left: 1000px;
        top: 1499px;
    }
    .titlesecWhat{
        font-size: 30px;
    }
    .textwhat{
        margin-top: 34px;
        font-size: 24px;
        width: 660px;
    }
    
    
}