.sectionWhatWeDo{
    display: flex;
    flex-flow: column nowrap;
    margin:30px 16px 0px 16px;
}

.containerScheme{
    display: flex;
    margin-top: 16px;
    width: auto;
    height: 407px;
}
.scheme{
    width: 100%;
}