.imgActivity{
    width:10rem;
    height:12rem;
    border: 3px solid #fd4c00;
}


.containerActivitySection{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1.5rem auto;

}

.btnhref{
border: none;
}

.textActivitySection{
    display: flex;
    flex-flow: column nowrap;
    margin: 16px 16px;
    margin-top: 3.5rem ;
}