.imgActivity{
    width:10rem;
    height:12rem;
    border: 3px solid #fd4c00;
}


.containerActivitySection{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1.5rem auto;
    background-color: #F4F4F4;

}
.containerActivitySection:focus{
 
        outline: -webkit-focus-ring-color auto 1px;
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
        outline-width: 1px
}

.btnhref{
border: none;
}

.textActivitySection{
    display: flex;
    flex-flow: column nowrap;
    margin: 16px 16px;
    margin-top: 3.5rem ;
}
.instagram-media-instagram-media-rendered{
    width: 100%;
    height: 12rem;
    border: 1px  rgba(0,0,0,.2);
   
    
}
.text-center.hid.btn.btn-primary.btn-xs.design_2.js-hide-if-pos{
display: none
}

#editMe{
    display: none
}