.imgActivity{
    width:10rem;
    height:12rem;
    border: 3px solid #fd4c00;
}


.containerActivitySection{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1.5rem auto;
    background-color: #F4F4F4;

}
.containerActivitySection:focus{
 
        outline: -webkit-focus-ring-color auto 1px;
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
        outline-width: 1px
}

.btnhref{
border: none;
}

.textActivitySection{
    display: flex;
    flex-flow: column nowrap;
    margin: 16px 16px;
    margin-top: 3.5rem ;
}
.instagram-media-instagram-media-rendered{
    width: 100%;
    height: 22rem;
    border: 1px solid rgba(0,0,0,.2);
}
.renderautomatic{
    height: 32rem;
    transition: height 0.3s ease 3s;
    display: inline;
    visibility: visible;
    width: 20rem;
    border-width: 0.5px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-right-width: 1px;
    margin-left: 1rem;

}
.embed{
    width : 100%;
    height:22.5rem;
    transition: height 0.3s ease 0s; 
    display : inline;
    visibility: visible;
    min-width: 100%;
    width: 1px;
}

