.toggleHidden {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translateX(100%);
  right: -1;
  width: 300px;
  height: auto;
  border: 2px solid #F4F4F4;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.toggleVisible {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(0%);
  right: 0px;
  width: auto;
  height: auto;
  border: 2px solid #F4F4F4;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  z-index: 3;
}

.textBurgerToggle{
  font-size: 16px;
  color:#929292;
}
.boxSection{
  box-sizing: border-box;
  border: 2px solid #F4F4F4;
  padding: 16px 80px 16px 24px;
}

.oli{
  text-decoration: none;
}