.toggleHidden {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translateX(100%);
  right: -1;
  width: 300px;
  height: auto;
  border: 2px solid #F4F4F4;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  
}

.toggleVisible {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(0%);
  top: 88px;
  right: 0px;
  width: 100%;
  height: auto;
  border: 2px solid #F4F4F4;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  z-index: 3;
}

.textBurgerToggle{
  font-size: 16px;
  color:#929292;
}
.boxSection{
  box-sizing: border-box;
  border: 2px solid #F4F4F4;
  padding: 16px 80px 16px 32px;
}
.boxSection:hover{
  background: #FD4C00;
  color:white;
}
.textBurgerToggle:hover{
  color:white;
}


.oli{
  text-decoration: none;
}

@media screen and (min-width:1024px){
  .toggleHidden {
    flex-direction: row;
    position: relative;
    transform: translateX(0%);
    width: auto;
    transition: none;
    box-sizing: inherit;
    margin-right: 10px;
  }
  .toggleVisible {
    flex-direction: row;
    position: relative;
    top: 0px;
    right: -1;;
    width: auto;
    height: auto;
    border: 2px solid #F4F4F4;
    box-sizing: border-box;
    transition: none;
    z-index: 3;
    margin-right: 10px;
    color:white;
  }
  .boxSection{
    box-sizing: unset;
    /* border: none; */
    padding: 16px 30px 16px 32px;
    color:white;
  }
  .textBurgerToggle{
    color: white;
  }
  
}
