.donateSectionPage{
    display:flex;
    flex-flow:column nowrap;
    margin:16px 16px;
}
.singleContainerDonate{
    align-self: center;
}

.containerDonates{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.eachDonateContainer{
    margin:24px 30px 0px 0px;
}

.imgDonate{
    border-radius:50%;
    height:117px;
    width:117px;
}

.iconPlusDonate{
    border: 2px solid #fd4c00;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    padding: 5px;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-color: #fd4c00;
    align-items: flex-end;
    margin-inline-start: 80px;
    margin-block-start: -50px;
}

.donateIcon{
    font-weight: bold;
    text-align:center;
    color: white;
    font-size: 30px;
}

.btnDonation{
    background-color: #fd4c00;
    border:#fd4c00 solid 1px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    width: 100%;
    height: 2.2rem;
    margin: 1.5rem auto;
    border-radius: 5rem;

}
.textDonateSectionPage{
    background-color: white;
}