.donateSectionPage{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
}
.singleContainerDonate{
    display: inline-block;
    align-self: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background-color: #F4F4F4 ;
    margin-left: 120px;
}
.textDonateSectionPage{
    margin:16px 16px;
}
.containerDonates{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 20px;
    background-color:#F4F4F4;
    height: 377px;
}

.eachDonateContainer{
    position: relative;
    display: inline-block;
    text-align: center;
    margin:24px 30px 0px 0px;
}

.imgDonate, .imgDonate2{
    border-radius:50%;
    height:117px;
    width:117px;
    border: 3px solid #929292; 
}
.imgDonate{
    opacity: 70%;
    object-fit: cover;
}
.imgDonate2{
    border: none;
    border-radius: 0%;
}

.iconPlusDonate{
    border: 5px solid #fd4c00;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    align-items: flex-end;
    margin-inline-start: 80px;
    margin-block-start: -50px;
}

.donateIcon{
    font-weight: bolder;
    text-align:center;
    color: #fd4c00;
    font-size: 33px;
    position: absolute;
}

.btnDonation{
    background-color: #fd4c00;
    border:#929292 solid 1px;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 48px;
    margin: 1.5rem auto;
    border-radius: 5rem;
    line-height: 22px;
    margin-top: 24px;
}
.btnSectionPage{
    width: 100%;
}
.btnSectionMargin{
    margin-left: 16px;
    margin-right: 16px;
}

h3{
    padding:0px 0px 24px 0px;
    font-size:20px;
    background-color: #F4F4F4 ;
    margin-left: 16px;
}
.titledonatesection{
    margin-top:6px;
}
.moretext{
    width: 341.95px;
    height: 76px;
    background: #F4F4F4 ;
    margin-left: 16px;
    margin-bottom: 32px;
}
.textBtnDonate, .textBtnDonates{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-weight: 900;
}
.textBtnDonates{
   top:40%;
}
.containerDonateSectionBackground{
    background-color: #F4F4F4 ;
}
.titleLanding{
    margin-left:16px;
    margin-bottom: 48px;
}