footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #F4F4F4;
    width:100%;
    height: 100px;
    padding: 10px;
    bottom: 0px;
    position: absolute;
    /* le puse el absolute por mientras para que esté abajo */
}

.imgsFooter{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.containerLogoFooter{
    height: 100%;
}

.logoFooter{
    width:80px;
    height: 80px;
}

.iconFooter{
    width: 20px;
    height: 20px;
}

.infoFooter{
    font-size: 14px;
    line-height: 30px;
    text-align: left;
}