footer{
  display: flex;
  flex-flow: row wrap;
  background-color: #F4F4F4;
  width:100%;
  height: 151px;
  padding: 24px;
  bottom: 0px;
 align-content: center;
}
.containerLogoFooter{
  width:108px;
  height: 104px;
}
.logoFooter{
 width: 100%;
}

.iconFooter{
  width: 24px;
  height: 24px;
} 

.containerEachContact{
  display: flex;
  flex-flow: row nowrap;
  margin: 0px 0px 20px 24px;
}

.textFooter{
  margin-left: 16px;
  color:#929292;
}
