.header{
    display: flex;
    width:100%;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items: center;
    height:80px;
    padding:7px 16px;
}

.containerLogoHome{
    width:100%;
}

.logoHome{
    width:69px;
    height:auto;
}

