.authPageBackground{
    background: #E5E5E5;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
}
.authPageContent{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 359px;
    height: 536px;
    margin-top: 32px;
    margin-bottom: 99px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: white;
    color: black;
    z-index: 5;
    border-radius: 24px;
}
.logoContainer{
    width: auto;
}
.titleIntranet, .textintranet{
    text-align: start;
    margin-bottom: 34px;
}
.formIntranet{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 215px;
    height: 206px;
}
.textintranetInput{
    text-align: start;
    margin-bottom: 8px;
    margin-top: 16px;
}
.btnAuthPage{
    margin-top: 16px;
    font-size: 16px;
    background: #929292;
    width: 215px;
    height: 40px;
    color:white;
    border-radius: 24px;
    border: none;
}
.inputIntranet{
    width: 215px;
    height: 40px;
    border-radius: 24px;
    padding:6px 0px 6px 6px;
}
/* Ya no sé como chucha hacer que se vea tipo modal o que se 
vea la foto o que la cagá esté centrada por la chucha */